*{
    margin: 0px;
    padding: 0px;
}

.navigation{
    float: left; 
    width: 15em;
    background-color: rgb(48, 144, 189);
}

.fw_700{
    font-weight: 700;
}

.article{
    margin-bottom: 2em;
    margin-left: 15em;
    background: rgb(185, 216, 101);
    overflow: hidden;
}



.basement{
    clear: both;
    background:rgb(172, 45, 45);
    width: 100%;
 }



